{% extends 'base.html' %}
{% block content %}
{% load static %}

<title>Aida Roshani - Projects </title>
<div id="main" class="site-main">
  <div id="main-content" class="single-page-content">
    <div id="primary" class="content-area">
      <div class="page-title">
        <h1>Projects</h1>
      </div>
      <div id="content" class="page-content site-content single-post" role="main">
        <div class="row">
          <div class=" col-xs-12 col-sm-12 ">
            <!-- Project Content -->
            <div id="portfolio_content_q" class="portfolio-content">

              <!-- Project Grid -->
              <div class="portfolio-grid four-columns shuffle">

                <!-- Project Item 1 -->
                <figure class="item standard" data-groups='["category_all", "category_detailed"]'>
                  <div class="portfolio-item-img">
                    <img src="{% static 'img/portfolio/1.png' %}" alt="My Personal Website" title="" />
                    <a href="{% url 'website:single project' %}" class="ajax-page-load"></a>
                  </div>

                  <i class="far fa-file-alt"></i>
                  <h4 class="name">My Personal Website</h4>
                  <span class="category">Detailed</span>
                </figure>
                
                <!-- /Projetc Item 1 -->
              </div>
              
              <!-- /projetc Content -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}