{% extends 'base.html' %}
{% block content %}
{% load static %}

<title>Aida Roshani - Resume </title>
<div id="main" class="site-main">
  <div id="main-content" class="single-page-content">
    <div id="primary" class="content-area">
      <div class="row">
        <div class=" col-xs-12 col-sm-12 ">
          <div class="p-20"></div>

          <div class="block-title">
            <h2>Skills</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class=" col-xs-12 col-sm-3 ">
          <div id="timeline_1" class="timeline clearfix">
            <div class="timeline-item clearfix">
              <div class="info-list-w-icon">
                <div class="info-block-w-icon">
                  <div class="ci-icon">
                    <i class="fa-solid fa-code"></i>
                  </div>
                  <div class="ci-text">
                    <h5>Language</h5>
                    <ul>
                      <li style="margin-bottom: 5px;">
                        Python</li>
                      <li style="margin-bottom: 5px;">
                        SQL</li>
                      <li style="margin-bottom: 5px;">
                        HTML</li>
                      <li style="margin-bottom: 5px;">
                        CSS</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class=" col-xs-12 col-sm-3 ">
          <div class="timeline-item clearfix">
            <div id="timeline_1" class="timeline clearfix">
              <div class="info-list-w-icon">
                <div class="info-block-w-icon">
                  <div class="ci-icon">
                    <i class="fa-solid fa-sitemap"></i>
                  </div>

                  <div class="ci-text">
                    <h5>Frameworks</h5>
                    <ul>
                      <li style="margin-bottom: 5px;">
                        Django</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class=" col-xs-12 col-sm-3 ">
          <div class="timeline-item clearfix">
            <div id="timeline_1" class="timeline clearfix">
              <div class="info-list-w-icon">
                <div class="info-block-w-icon">
                  <div class="ci-icon">
                    <i class="fa-solid fa-code-branch"></i>
                  </div>

                  <div class="ci-text">
                    <h5>Utility</h5>
                    <ul>
                      <li style="margin-bottom: 5px;">
                        Git</li>
                      <li style="margin-bottom: 5px;">
                        Linux</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class=" col-xs-12 col-sm-3 ">
          <div id="timeline_1" class="timeline clearfix">
            <div class="timeline-item clearfix">
              <div class="info-list-w-icon">
                <div class="info-block-w-icon">
                  <div class="ci-icon">
                    <i class="fa-solid fa-gears"></i>
                  </div>

                  <div class="ci-text">
                    <h5>Concepts</h5>
                    <ul>
                      <li style="margin-bottom: 5px;">
                        OOP</li>
                      <li style="margin-bottom: 5px;">
                        Clean Code</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

        <!-- <div class="page-title">
                <h3>Resume</h3>
                <div class="page-subtitle">
                    <h4> 8 Years of Experience</h4>
                </div>
              </div> -->
      
      <div id="content" class="page-content site-content single-post" role="main">
        <div class="row">

          <div class=" col-xs-12 col-sm-6 ">
            <div class="block-title">
              <h2>Education</h2>
            </div>

            <div id="timeline_1" class="timeline clearfix">
              <div class="timeline-item clearfix">
                <h5 class="item-period ">2017-2021</h5>
                <span class="item-company">
                  <img src="{% static 'img/Companies/University_of_Tehran_logo.svg' %}" style="max-width:30px">
                  University of Tehran</span>
                <h4 class="item-title">Bachelor of Industrial Engineering</h4>
                <p>GPA - 17.8</br>
                Website: <a href="https://ut.ac.ir/en">ut.ac.ir</a></p>
                <p><b>Volunteer Works</b><br>
                  TA of Probability & Statistics
                </p>
                <p><b>Achivements</b><br>
                  Among top 10 industrial engineering students, 
                  direct entry to master of industrial engineering.
                </p>

                <p><b>Relevant Courses:</b><br>
                Data Structure and Algorithm<br>
                Basic Programming
                </p>
              </div>
            </div>
            <div class="block-title">
              <h2>Volunteer Works</h2>
            </div>

            <div id="timeline_2" class="timeline clearfix">
              <div class="timeline-item clearfix">
                <h5 class="item-period current">Sep 2021 - Dec 2021</h5>
                <img src="{% static 'img/Companies/gamein_logo.png' %}" style="max-width:30px">
                <span class="item-company">Gamein, Sharif University of Technology
                </span>
                <h4 class="item-title">Head of Design and Idea Team</h4>
                <p>Industrial Engineering Student Event<br>
                  linkedin: <a href="https://www.linkedin.com/company/gameinsharif/">Gamein</a>
                </p>
                
                <p style="text-align:justify;">
                  As a leader of the team, I managed to develop a serious game and simulated learning
                  experience based on industrial engineering concepts.
                </p>
              </div>
            </div>
          </div>
          

          <div class=" col-xs-12 col-sm-6 ">
            <div class="block-title">
              <h2>Experience</h2>
            </div>

            <div id="timeline_2" class="timeline clearfix">
              <div class="timeline-item clearfix">
                <h5 class="item-period current">April 2022 - Oct 2022</h5>
                <img src="{% static 'img/Companies/Zarrin_Ayand.png' %}" style="max-width:30px">
                <span class="item-company">Zarrin Ayand Co.</span>
                <h4 class="item-title">Business Data Analyst</h4>
                <p>A healthcare and beauty commodity supplier company<br>
                Website: <a href="https://zarrinone.com/">zarrinone.com</a>
                </p>
                <P style="text-align:justify;"><b>Achivements</b><br>
                <b>-</b> Develop and improve SQL-based and PowerBI dashboards which were sensitive to supply-demand
                of the market and helps the sales management team to make better decis.<br>
                <b>-</b> Worked with a web-crawler application to gather the price of other market competitors
                through queries.
                </p>
              </div>

              <div class="timeline-item clearfix">
                <h5 class="item-period ">Feb 2022 - April 2022</h5>
                <img src="{% static 'img/Companies/Zarrin_Ayand.png' %}" style="max-width:30px">
                <span class="item-company">Zarrin Ayand Co.
                </span>
                <h4 class="item-title">Business Data Analyst Intern</h4>
                <p>
                  Sharp observing the commodities prices variety in the market.
                </p>
              </div>
            </div>

            <div class="block-title">
              <h2>Languages</h2>
            </div>
            <div id="timeline_2" class="timeline clearfix">
              <div class="timeline-item clearfix">
                <p><b>English</b> - Advanced</br>
                <b>Persian</b> - Native</br>
                <b>Azerbaijani</b> - Native</br>
                <b>Germany</b> - Basic</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <div class=" col-xs-12 col-sm-12 ">
          <div class="p-20"></div>

          <div class="block-title">
            <h2>Certificates</h2>
          </div>
        </div>
      </div> -->

      <!-- <div class="row">
        <div class=" col-xs-12 col-sm-6 ">
          <a href="//lmpixels.com/wp/leven-wp/wp-content/uploads/2019/11/1.jpg" class="lightbox">
            <div class="certificate-item clearfix">
              <div class="certi-logo">
                <img src="{% static './img/clients/client-7.png' %}" alt="logo">
              </div>

              <div class="certi-content">
                <div class="certi-title">
                  <h4>Psyhology of Intertnation Design</h4>
                </div>

                <div class="certi-id">
                  <span>Membership ID: XXXX</span>
                </div>
                <div class="certi-date">
                  <span>19 April 2018</span>
                </div>

                <div class="certi-company">
                  <span></span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

                <div class=" col-xs-12 col-sm-6 ">
                  <a href="//lmpixels.com/wp/leven-wp/wp-content/uploads/2019/11/1.jpg" class="lightbox">
                    <div class="certificate-item clearfix">
                      <div class="certi-logo">
                        <img src="//lmpixels.com/wp/leven-wp/wp-content/uploads/2019/12/client-1.png" alt="logo">
                      </div>

                      <div class="certi-content">
                        <div class="certi-title">
                          <h4>Psyhology of Intertnation Design</h4>
                        </div>

                        <div class="certi-id">
                          <span>Membership ID: XXXX</span>
                        </div>

                        <div class="certi-date">
                          <span>19 April 2018</span>
                        </div>

                        <div class="certi-company">
                          <span></span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>

              </div> -->

      <!-- <div class="row">
          <div class=" col-xs-12 col-sm-12 ">
            <div class="p-40"></div>
          </div>
        </div> -->

    

      <div class="row">
        <div class=" col-xs-12 col-sm-12 ">
          <div class="p-20"></div>
          <div class="block-title">
            <h2>Soft Skills</h2>
          </div>
          <div class="row">
            <div class=" col-xs-12 col-sm-2 ">
              <b>Active Learning</b>
            </div>

            <div class=" col-xs-12 col-sm-2 ">
              <b>Team Worker</b>
            </div>

            <div class=" col-xs-12 col-sm-2 ">
              <b>Problem Solving</b>
            </div>

            <div class=" col-xs-12 col-sm-2 ">
              <b>Critical Thinking</b>
            </div>

            <div class=" col-xs-12 col-sm-2 ">
              <b>Leadership</b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}